body { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0;
    background: url(img2.jpg);
    background-size: cover;
    color : white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.neon-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}


.btn {
    height : 200px;
    width : 200px;
    border : 5px solid black;
    border-radius: 20%;
    margin : 2rem;
}

.btn-container {
    display : flex;
    justify-content: center;
}

.red {
    background-color: #aa4c43;
}

.yellow {
    background-color: 	#8f8633;
}

.green {
    background-color: 	#35943d;
}

.purple {
    background-color: #332b83;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: black;
}

.error {
    background-color: red !important;
}

.neon-red {
  --neon: #FF5161;
  --neon-glow: #D30302;
}

.neon-pink {
  --neon: #FF53cd;
  --neon-glow: #e10361;
}

.neon-purple {
  --neon: #9461fd;
  --neon-glow: #4003e6;
}

.neon-blue {
  --neon: #2dd9fe;
  --neon-glow: #00a3d5;
}

.neon-green {
  --neon: #00fe9b;
  --neon-glow: #02c435;
}

.neon-yellow {
  --neon: #ffdb4e;
  --neon-glow: #b48505;
}

.neon-white {
  --neon: #fefefe;
  --neon-glow: #ffffff;
}

@supports (background: color(display-p3 1 1 1)) {
  @media (dynamic-range: high) {
    .neon-red {
      --neon-glow: color(display-p3 1 0 0);
    }

    .neon-pink {
      --neon-glow: color(display-p3 1 0 1);
    }

    .neon-purple {
      --neon-glow: color(display-p3 0 0 1);
    }

    .neon-blue {
      --neon-glow: color(display-p3 0 1 1);
    }

    .neon-green {
      --neon-glow: color(display-p3 0 1 0);
    }

    .neon-yellow {
      --neon-glow: color(display-p3 1 1 0);
    }

    .neon-white {
      --neon-glow: color(display-p3 1 1 1);
    }
  }
}

.ring {
  border: 5px solid var(--neon);
  box-shadow: 
    0 0 50px var(--neon-glow), 
    inset 0 0 50px var(--neon-glow);
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 100px;
}




/* press any key to start */

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

h2 {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}



/* Heighesst score */

.matrix-text {
  color: #0f0;
  font-size: 30px;
  font-family: monospace;
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
  margin-bottom : 60px;
}
